<div class="row container-footer">
    <div class="col-md-4">
        <h5 class="my-3">Dyrekcja</h5>
        <hr>
        <ul class="list-unstyled">
            <li>Rada Rodziców</li>
            <li>Dyrekcja Szkoły</li>
            <li>Pedagog Szkolny</li>
            <li>Rzecznik Praw Ucznia</li>
        </ul>
        
        
    </div>
    <div class="col-md-4">
        <h5 class="my-3">Informacje</h5>
        <hr>
        <ul class="list-unstyled">
            <li>Zespól Szkól i Placówek Oświatowych</li>
            <li>ul. Rodziewiczówny 1, 48-303 Nysa</li>
            <li>tel. +48 77 4310466-67</li>
            <li><a href="mailto:zsr_nysa@wodip.opole.pl">zsr_nysa@wodip.opole.pl</a></li>
            <li><a href="https://zsiponysa.bip.gov.pl/">ZSiPO BIP</a></li>
            <li><a href="http://rolniknysa.pl/images/2018_2019/szkola/rodo_klauzula_informacyjna.pdf">Klauzula RODO</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h5 class="my-3">Projekt Strony</h5>
        <hr>
        <ul class="list-unstyled">
            <li>Pstrucha Mateusz</li>
            <li>Sebastian Fudalej</li>
            <li>Michał Kozłowski</li>
        </ul>
    </div>
</div>
<!-- <div class="row container-footer">
    <div class="col-md-3">
        <div class="list-group list-group-flush">
            <button type="button" class="list-group-item list-group-item-action">
                Rada Rodziców
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                Dyrekcja Szkoły
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                Pedagog Szkolny
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                Rzecznik Praw Ucznia
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Zespól Szkól i Placówek Oświatowych</li>
            <li class="list-group-item">ul. Rodziewiczówny 1, 48-303 Nysa</li>
            <li class="list-group-item">tel. +48 77 4310466-67</li>
            <li class="list-group-item">zsr_nysa@wodip.opole.pl</li>
            <li class="list-group-item">https://zsiponysa.bip.gov.pl/</li>
            <li class="list-group-item">klauzula informacyjna</li>
        </ul>
    </div>
    <div class="col-md-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Twórcy strony</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mateusz Pstrucha</td>
                </tr>
                <tr>
                    <td>Sebastian Fudalej</td>
                </tr>
                <tr>
                    <td>Michał Kozłowski</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
