<header class="text-center logo">
  <img class="container" src="/static/logo/svgTyl.svg" alt="rolnik">
</header>
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand mb-0 h1" href="/">ZSiPO w Nysie</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Strona Główna</a></li>
      <li class="nav-item"><a class="nav-link" href="http://rolniknysa.pl/images/plan/biezacy/index.html">Plan Lekcji</a></li>
      <li class="nav-item"><a class="nav-link" href="https://uonetplus.eszkola.opolskie.pl/powiatnyski/" target="_blank">e-Dziennik</a></li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Skróty
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Rekrutacja</a>
          <a class="dropdown-item" href="#">Foto Galeria</a>
          <a class="dropdown-item" href="#">Projekty</a>
          <a class="dropdown-item" href="#">Klaster gastronomiczny</a>
          <a class="dropdown-item" href="https://outlook.com/eszkola.opolskie.pl">Office 365</a>
          <a class="dropdown-item" href="http://www.juniormedia.pl/junior-gazety/freelancer-22">Frelancer</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.fb.com/zsipownysie/">Rolnik na Facebooku</a>
          <a class="dropdown-item" href="https://www.fb.com/RolnikInPhotography">Rolnik in photography</a>
          <a class="dropdown-item" href="https://www.fb.com/rolniksu">Samorząd uczniowski</a>
          <a class="dropdown-item" href="https://www.fb.com/rekonysans">Rekonysa'ns</a>
          <a class="dropdown-item" href="https://www.fb.com/zsiponysa/">COOLtura and ROLLnik</a>
          <a class="dropdown-item" href="https://www.fb.com/fromglobetoerasmus/">From globe to erasmus</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Szukaj"
        aria-label="Szukaj"
        name="q"
      />
      <button class="btn my-2 my-sm-0 btn-success" type="submit">Szukaj</button>
    </form>
  </div>
</nav>